# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Memo/
packages/web/node_modules
/packages_disable/web/node_modules/
/.idea/
